# PyCity Schools Analysis

1.Summarizes the analysis:

        Length of total schools is 15 and total student is 39,170.
        Schools are both district and charter and got to know total student in each school.
        Total school budget and per student budget is calculated.
        Performance calculated on basis of average Math and reading score and their percentage and also overall rate.
        We got top school on basis of thier score which is Cabrera High School which is a charter school.
        We got math and reading scores for 9th, 10th, 11th and 12th graders.
        Schools with higher spending per student (645−680) under performed as compared to smaller spending per student (<585).
        Small(<1000) and Medium sized (1000-2000) schools performed better than large schools.
        Also, it is clearly seen from calculation that Charter School performed much better than District School.

     2.Draws two correct conclusions or comparisons from the calculations:

        Charter School performed better for all the scores of math, reading and overall than District School.
        Small(<1000) and Medium School (1000-2000) size performed better than the Large School size(2000-5000).
        Schools with higher spending per student (645−680) under performed as compared to smaller spending per student (<585).
---

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schools_csv = pd.read_csv(school_data_to_load)
students_csv = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_csv, schools_csv, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [5]:
# Calculate the total number of unique schools
df_school= pd.DataFrame(schools_csv)
print(df_school)
total_schools = df_school.groupby(['school_name'])['school_name'].count()
total_schools = df_school.groupby(['school_name'])['school_name'].count().sum()
total_schools

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

15

In [6]:
# Calculate the total number of students
df_students= pd.DataFrame(students_csv)
df_students
df_students.groupby(['student_name'])['student_name'].count()
total_students = df_students.groupby(['student_name'])['student_name'].count().sum()
total_students

39170

In [7]:
# Calculate the total budget
total_budget =  df_school['budget'].sum()
total_budget

24649428

In [8]:
# Calculate the average (mean) math score
average_math = df_students['math_score'].mean()
average_math

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading = df_students['reading_score'].mean()
average_reading

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = df_students[(df_students['math_score'] >= 70)].count()['student_name']
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = df_students[(df_students['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(total_students) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_read_count = df_students[(df_students['math_score'] >= 70) & (df_students['reading_score'] >= 70)
].count()["student_name"]
overall_pass_rate = passing_math_read_count /  float(total_students) * 100
overall_pass_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students], 
                                 "Total Budget":[total_budget], "Average Math":[average_math], "Average Read":[average_reading],
                                 "% Math":[passing_math_percentage], "% Read":[passing_reading_percentage],
                                 "Overall Pass":[overall_pass_rate]})
district_summary_df

# Formatting
district_summary_df["Total Students"]=district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"]=district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math"]=district_summary_df["Average Math"].map("{:,.2f}".format)
district_summary_df["Average Read"]=district_summary_df["Average Read"].map("{:,.2f}".format)
district_summary_df["% Math"]=district_summary_df["% Math"].map("{:.2f}%".format)
district_summary_df["% Read"]=district_summary_df["% Read"].map("{:.2f}%".format)
district_summary_df["Overall Pass"]=district_summary_df["Overall Pass"].map("{:,.2f}".format)
district_summary_df

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math,Average Read,% Math,% Read,Overall Pass
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17

## School Summary

In [14]:
# Use the code provided to select the school name
school_name = len(school_data_complete["school_name"].unique())
school_name

15

In [15]:
# Use the code provided to select the school type
school_types = schools_csv.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
# Calculate the total student count
student_per_school_count = school_data_complete["school_name"].value_counts()
student_per_school_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [18]:
# Calculate the per capita spending

per_school_capita = per_school_budget / student_per_school_count
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
# Calculate the average math scores

average_math_school = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_math_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
# Calculate the average reading scores

average_read_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_read_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
# Calculate the number of schools with math scores of 70 or higher
school_pass_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_pass_math                            
school_math_group = school_pass_math.groupby(["school_name"]).count()["student_name"]
school_math_group.head()
school_pass_math_percent = school_math_group / student_per_school_count * 100
school_pass_math_percent

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [22]:
# Calculate the number of schools with reading scores of 70 or higher
school_pass_read = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_pass_read                            
school_read_group = school_pass_read.groupby(["school_name"]).count()["student_name"]
school_read_group.head()
school_pass_read_percent = school_read_group / student_per_school_count * 100
school_pass_read_percent

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [23]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & 
                          (school_data_complete["math_score"] >= 70)]
passing_math_and_reading    
                                                
school_overall_group = passing_math_and_reading.groupby(["school_name"]).count()["student_name"]
school_overall_group.head()

school_overall_pass_rate = school_overall_group / student_per_school_count * 100
school_overall_pass_rate

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_pass_math.groupby(["school_name"]).count()["student_name"] / student_per_school_count * 100
per_school_passing_reading = school_pass_read.groupby(["school_name"]).count()["student_name"] / student_per_school_count * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / student_per_school_count * 100

In [25]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({"School Type":school_types, "Total Students in school":student_per_school_count,
                                 "Total School Budget":per_school_budget, "Each Student Budget":per_school_capita,
                                 "Average Math Score":average_math_school, 
                                 "Average Reading Score":average_read_school, 
                                 "% Pass Math in School":school_pass_math_percent,
                                 "% Pass Reading in School":school_pass_read_percent, 
                                 "% Overall Pass Rate":school_overall_pass_rate})
per_school_summary

,School Type,Total Students in school,Total School Budget,Each Student Budget,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [26]:
per_school_summary["Total School Budget"]=per_school_summary["Total School Budget"].map("${:,}".format)
per_school_summary["Each Student Budget"]=per_school_summary["Each Student Budget"].map("${:,}".format)
per_school_summary["Average Math Score"]=per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"]=per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Pass Math in School"]=per_school_summary["% Pass Math in School"].map("{:.2f}%".format)
per_school_summary["% Pass Reading in School"]=per_school_summary["% Pass Reading in School"].map("{:.2f}%".format)
per_school_summary["% Overall Pass Rate"]=per_school_summary["% Overall Pass Rate"].map("{:.2f}%".format)
per_school_summary

,School Type,Total Students in school,Total School Budget,Each Student Budget,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.0",$644.0,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.0",$581.0,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [27]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools_df= per_school_summary.sort_values(by='% Overall Pass Rate', ascending=False)
top_schools_df.head(5)

,School Type,Total Students in school,Total School Budget,Each Student Budget,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [28]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools_df= per_school_summary.sort_values(by='% Overall Pass Rate', ascending=True)
bottom_schools_df.head(5)

,School Type,Total Students in school,Total School Budget,Each Student Budget,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [29]:
#  Math Score by Grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


ninth_graders_score = ninth_graders.groupby("school_name").mean()
tenth_graders_score = tenth_graders.groupby("school_name").mean()
eleventh_graders_score=eleventh_graders.groupby("school_name").mean()
twelfth_graders_score=twelfth_graders.groupby("school_name").mean()

ninth_grade_math_scores = ninth_graders_score["math_score"]
tenth_grader_math_scores = tenth_graders_score["math_score"]
eleventh_grader_math_scores = eleventh_graders_score["math_score"]
twelfth_grader_math_scores = twelfth_graders_score["math_score"]

math_scores_by_grade=pd.DataFrame({"9th":ninth_grade_math_scores ,"10th":tenth_grader_math_scores, 
                                   "11th":eleventh_grader_math_scores,"12th":twelfth_grader_math_scores})
                                   
            
math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [30]:
# Reading Scores by Grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


ninth_graders_score = ninth_graders.groupby("school_name").mean()
tenth_graders_score = tenth_graders.groupby("school_name").mean()
eleventh_graders_score=eleventh_graders.groupby("school_name").mean()
twelfth_graders_score=twelfth_graders.groupby("school_name").mean()

ninth_grade_read_scores = ninth_graders_score["reading_score"]
tenth_grader_read_scores = tenth_graders_score["reading_score"]
eleventh_grader_read_scores = eleventh_graders_score["reading_score"]
twelfth_grader_read_scores = twelfth_graders_score["reading_score"]


read_scores_by_grade=pd.DataFrame({"9th":ninth_grade_read_scores ,"10th":tenth_grader_read_scores, 
                                   "11th":eleventh_grader_read_scores,"12th":twelfth_grader_read_scores})
                                   
            
read_scores_by_grade.index.name = None
read_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [31]:
per_school_summary.dtypes

School Type                 object
Total Students in school     int64
Total School Budget         object
Each Student Budget         object
Average Math Score          object
Average Reading Score       object
% Pass Math in School       object
% Pass Reading in School    object
% Overall Pass Rate         object
dtype: object

In [32]:
per_school_summary
per_school_summary.loc[:,"Each Student Budget"]

Bailey High School       $628.0
Cabrera High School      $582.0
Figueroa High School     $639.0
Ford High School         $644.0
Griffin High School      $625.0
Hernandez High School    $652.0
Holden High School       $581.0
Huang High School        $655.0
Johnson High School      $650.0
Pena High School         $609.0
Rodriguez High School    $637.0
Shelton High School      $600.0
Thomas High School       $638.0
Wilson High School       $578.0
Wright High School       $583.0
Name: Each Student Budget, dtype: object

In [60]:
# Scores by School spending
# Use `pd.cut` to categorize spending based on the bins.
spending_bins = [0, 585, 630, 645, 680]
group_labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df = per_school_summary.copy()
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins=spending_bins,
                                                               labels=group_labels, right=False)

school_spending_df

,School Type,Total Students in school,Total School Budget,Each Student Budget,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,2739,"$1,763,916.0",$644.0,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.0",$581.0,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,2917,"$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [34]:
school_spending_df.dtypes

School Type                        object
Total Students in school            int64
Total School Budget                object
Each Student Budget                object
Average Math Score                 object
Average Reading Score              object
% Pass Math in School              object
% Pass Reading in School           object
% Overall Pass Rate                object
Spending Ranges (Per Student)    category
dtype: object

In [37]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df= per_school_summary.copy()

In [61]:
# Making up the dataframe for spending_summary_df

school_spending_df["Average Math Score"]= pd.to_numeric(school_spending_df["Average Math Score"])
school_spending_df["Average Reading Score"]= pd.to_numeric(school_spending_df["Average Reading Score"])
school_spending_df["% Pass Math in School"]= school_spending_df["% Pass Math in School"].str.strip('%').astype(float)
school_spending_df["% Pass Reading in School"]= school_spending_df["% Pass Reading in School"].str.strip('%').astype(float)
school_spending_df["% Overall Pass Rate"]= school_spending_df["% Overall Pass Rate"].str.strip('%').astype(float)


spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Pass Math in School"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Pass Reading in School"]
overall_passing_rate = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Pass Rate"]

spending_summary_df=pd.DataFrame({"Average Math Score": spending_math_scores,
                                   "Average Reading Score": spending_reading_scores,
                                   "% Pass Math in School": spending_passing_math,
                                   "% Pass Reading in School": spending_passing_reading,
                                   "% Overall Pass Rate": overall_passing_rate
                                })

spending_summary_df.head()

,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.932500,93.460000,96.610000,90.367500
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667

In [ ]:
per_school_summary.dtypes

School Type                 object
Total Students in school     int64
Total School Budget         object
Each Student Budget         object
Average Math Score          object
Average Reading Score       object
% Pass Math in School       object
% Pass Reading in School    object
% Overall Pass Rate         object
dtype: object

In [ ]:
# Scores by School size
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary["School size"] = pd.cut(student_per_school_count, bins=size_bins,
                                                              labels=size_labels)
per_school_summary

,School Type,Total Students in school,Total School Budget,Each Student Budget,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate,School size
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.05,81.03,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.0",$644.0,77.10,80.75,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.29,80.93,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.0",$581.0,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,District,2917,"$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.36,83.73,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.68,83.95,93.33%,96.61%,90.33%,Medium (1000-2000)

## Scores by School Size

In [ ]:
# Calculate averages for the desired columns. 
# Dataframe of size_summary

per_school_summary["Average Math Score"]= pd.to_numeric(per_school_summary["Average Math Score"])
per_school_summary["Average Reading Score"]= pd.to_numeric(per_school_summary["Average Reading Score"])
per_school_summary["% Pass Math in School"]= per_school_summary["% Pass Math in School"].str.rstrip("%").astype(float)
per_school_summary["% Pass Reading in School"]= per_school_summary["% Pass Reading in School"].str.rstrip("%").astype(float)
per_school_summary["% Overall Pass Rate"]= per_school_summary["% Overall Pass Rate"].str.rstrip("%").astype(float)

size_math_scores = per_school_summary.groupby(["School size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School size"]).mean()["% Pass Math in School"]
size_passing_reading = per_school_summary.groupby(["School size"]).mean()["% Pass Reading in School"]
size_passing_rate = per_school_summary.groupby(["School size"]).mean()["% Overall Pass Rate"]

size_summary_df= pd.DataFrame({"Average Math Score": size_math_scores,
                            "Average Reading Score": size_reading_scores,
                            "% Pass Math in School": size_passing_math,
                            "% Pass Reading in School": size_passing_reading,
                            "% Overall Pass Rate": size_passing_rate})

size_summary_df.head()

,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
School size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.86600,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
# Use the code provided to select new column data
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"] 
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Pass Math in School"] 
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Pass Reading in School"] 
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Pass Rate"] 




per_school_summary["Average Math Score"]= pd.to_numeric(per_school_summary["Average Math Score"])
per_school_summary["Average Reading Score"]= pd.to_numeric(per_school_summary["Average Reading Score"])
per_school_summary["% Pass Math in School"]= per_school_summary["% Pass Math in School"].astype(float)
per_school_summary["% Pass Reading in School"]= per_school_summary["% Pass Reading in School"].astype(float)
per_school_summary["% Overall Pass Rate"]= per_school_summary["% Overall Pass Rate"].astype(float)



type_summary_df= pd.DataFrame({"Average Math Score": type_math_scores ,
                            "Average Reading Score": type_reading_scores,
                            "% Pass Math in School": type_passing_math,
                            "% Pass Reading in School": type_passing_reading,
                            "% Overall Pass Rate": type_overall_passing })


type_summary_df.head()

,Average Math Score,Average Reading Score,% Pass Math in School,% Pass Reading in School,% Overall Pass Rate
School Type,,,,,
Charter,83.472500,83.896250,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429

     1.Summarizes the analysis:

        Length of total schools is 15 and total student is 39,170.
        Schools are both district and charter and got to know total student in each school.
        Total school budget and per student budget is calculated.
        Performance calculated on basis of average Math and reading score and their percentage and also overall rate.
        We got top school on basis of thier score which is Cabrera High School which is a charter school.
        We got math and reading scores for 9th, 10th, 11th and 12th graders.
        Schools with higher spending per student (645−680) under performed as compared to smaller spending per student (<585).
        Small(<1000) and Medium sized (1000-2000) schools performed better than large schools.
        Also, it is clearly seen from calculation that Charter School performed much better than District School.

     2.Draws two correct conclusions or comparisons from the calculations:

        Charter School performed better for all the scores of math, reading and overall than District School.
        Small(<1000) and Medium School (1000-2000) size performed better than the Large School size(2000-5000).
        Schools with higher spending per student (645−680) under performed as compared to smaller spending per student (<585).